body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    width: 100vw;
}

.border{
    width: 525px;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: black;
    background-color: black;
    box-shadow:  0em 0em 1em .3em  aqua;
}


.bContainer{
    display: flex;
    gap: 1px;
}
.cContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
}

.operators{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.display{
    height: 150px;
    width: 470px;
    background: rgba(0, 180, 255, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 221, 221);
    overflow: hidden;
    font-family: Orbitron;
    color: aqua;
    text-shadow: 0 0 .04em aqua,
    0 0 0em aqua,
    0 0 0em aqua;
    font-size: 75px;
}

button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;
    border: 1px black;
    transition: .4s;
    font-family: Orbitron;
    font-size: 4em;
}

.firstRow{
    display: flex;
    gap:1px;
    margin-bottom: 1px;;
}

button.numbers{
    background-color: black;
    color: aqua;
}

button.operators{
    background-color: rgb(255, 204, 36);
}

button#backspace{
    text-align: center;
    padding-bottom: .3em;
    font-size: 5em;
    font-weight: bolder;
}

button#clear, button#backspace{
    background-color: coral;
}

button#percent, button#negative{
    background-color: white;
}

button#equals{
    background-color: aqua;
    position: relative;
}

button#equals:hover {
    box-shadow:  0em 0em 0.15em .05em aqua;
    transform: translateY(-0.05em);
    text-shadow: 0 0 1px black,
    0 0 0px black,
    0 0 0px black;
}

button.numbers:hover {
    box-shadow:  0em 0em 0.15em .05em white;
    transform: translateY(-0.05em);
    text-shadow: 0 0 .07em aqua,
    0 0 0em aqua,
    0 0 0em aqua;
}

button.operators:hover, 
button.operators:focus {
    box-shadow:  0em 0em 0.15em .05em  aqua;
    transform: translateY(-0.05em);
    text-shadow: 0 0 .04em black,
    0 0 0em black,
    0 0 0em black;
   background-color: aqua;
}

button.delete:hover {
    box-shadow:  0em 0em 0.1em .05em #ee1e1e;
    transform: translateY(-0.05em);
    text-shadow: 0 0 .02em black,
    0 0 0em black,
    0 0 0em black;
}

button.misc:hover {
    box-shadow:  0em 0em 0.1em .05em white;
    transform: translateY(-0.05em);
    text-shadow: 0 0 .02em black,
    0 0 0em black,
    0 0 0em black;
}

#scroll {
  font-size: 1em;
  white-space: nowrap;
  color: red;
    text-shadow: 0 0 .04em red,
    0 0 0em red,
    0 0 0em red;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 12s linear infinite;
  -webkit-animation: my-animation 12s linear infinite;
  animation: my-animation 12s linear infinite;
}

@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

.wrong{
    width: 525px;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: black;
    background-color: black;
    box-shadow:  0em 0em 1em .3em red;
   
}

.wrongDisplay{
    height: 150px;
    width: 470px;
    background: rgba(0, 180, 255, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    overflow: hidden;
    font-family: Orbitron;
    color: red;
    text-shadow: 0 0 .04em red,
    0 0 0em red,
    0 0 0em red;
}

.adjust{
    visibility: hidden;
    position: absolute;
}