
body{
    background-color: black;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100vw;
}

.border{
    width: 105px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: black;
    box-shadow:  0em 0em 0.15em .05em  aqua;
}


.bContainer{
    display: flex;
    gap: 1px;
}
.cContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
}

.operators{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.display{
    height: 30px;
    width: 91px;
    background: rgba(0, 180, 255, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3px;
    padding-left: 5px;
    margin-bottom: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 221, 221);
    overflow: hidden;
    font-family: Orbitron;
    color: aqua;
    text-shadow: 0 0 .8px aqua,
    0 0 0px aqua,
    0 0 0px aqua;
    font-size: 16px;
}

button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height:25px;
    width:25px;
    border: 1px black;
    transition: .4s;
    font-family: Orbitron;
}

.firstRow{
    display: flex;
    gap:1px;
    margin-bottom: 1px;;
}

button.numbers{
    background-color: black;
    color: aqua;
}

button.operators{
    background-color: rgb(255, 204, 36);
}

button#backspace{
    text-align: center;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bolder;
}

button#clear, button#backspace{
    background-color: coral;
}

button#percent, button#negative{
    background-color: white;
}

button#equals{
    background-color: aqua;
    position: relative;
}

button#equals:hover {
    box-shadow:  0em 0em 0.15em .05em aqua;
    transform: translateY(-0.05em);
    text-shadow: 0 0 1px black,
    0 0 0px black,
    0 0 0px black;
}

button.numbers:hover {
    box-shadow:  0em 0em 0.15em .05em white;
    transform: translateY(-0.05em);
    text-shadow: 0 0 1px aqua,
    0 0 0px aqua,
    0 0 0px aqua;
}

button.operators:hover, 
button.operators:focus {
    box-shadow:  0em 0em 0.15em .05em  aqua;
    transform: translateY(-0.05em);
    text-shadow: 0 0 .5px black,
    0 0 0px black,
    0 0 0px black;
   background-color: aqua;
}

button.delete:hover {
    box-shadow:  0em 0em 0.1em .05em #ee1e1e;
    transform: translateY(-0.05em);
    text-shadow: 0 0 .3px black,
    0 0 0px black,
    0 0 0px black;
}

button.misc:hover {
    box-shadow:  0em 0em 0.1em .05em white;
    transform: translateY(-0.05em);
    text-shadow: 0 0 .5px black,
    0 0 0px black,
    0 0 0px black;
}

